@model Portfolio
@{
        var portfolio = ViewBag.PortfolioAntigo;  
}

<h2>Registrar Portfólio </h2>
<br />
<form asp-controller="Portfolio" asp-action="EditarPortfolio">

  <div class="form-group">
    <label for="name">Titulo:</label>
    <input type="text" class="form-control" asp-for="Titulo" value="@portfolio.Titulo">
    <span asp-validation-for="Titulo" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label for="email">Descricao:</label>
    <input type="text" class="form-control" asp-for="Descricao">
    <span asp-validation-for="Descricao" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label for="senha">Link Foto:</label>
    <input type="text" class="form-control" asp-for="Foto">
    <span asp-validation-for="Foto" class="text-danger"></span>
  </div>

  <button type="submit" class="btn btn-block btn-dark"> Registrar</button>
</form>
